# Python __pycache__ و فایل‌های کامپایل‌شده
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# محیط مجازی
.env/
.venv/
env/
ENV/
env.bak/
venv/
ENV.bak/

# فایل‌های محیط مجازی ویندوز (اختیاری)
Scripts/
Lib/
Include/

# فایل‌های پروژه VSCode یا PyCharm
.vscode/
.idea/

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db
desktop.ini

# فایل‌های مخفی مربوط به macOS
*.swp
*.swo

# فایل‌های تست یا گزارش‌های آن
.coverage
htmlcov/
*.log
*.tmp



# فایل‌های Uvicorn و FastAPI مربوط به حالت reload
*.pid

# فایل‌های خروجی CLI یا cacheهای موقت
cache/
*.bak

# فایل‌های خروجی documentation
docs/_build/

# dotenv
*.env
.env.*

# برای پروژه‌های CI/CD یا تست
.tox/
.nox/
.pytest_cache/
.coverage
coverage.xml

# Build
build/
dist/
*.egg-info/

# دیگر
entrypoints/__pycache__/
core/**/__pycache__/
tests/__pycache__/
__pycache__/